* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', cursive;
	background: #2980b9;
}

.container {
	width: 90%;
	max-width: 500px;
	margin: 40px auto;
	background: #ecf0f1;
	box-shadow: 0 5px 5px rgba(0,0,0,.23);
	padding: 25px;
	border-radius: 5px;
}

.form-login .titulo {
	font-family: 'Raleway', cursive;
	font-size: 25px;
	color: #2980b9;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 24px;
	border-bottom: 1px solid #ecf0f1;
}

.form-login input[type="text"],
.form-login input[type="password"] {
	width: 100%;
	padding: 15px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #ecf0f1;
	margin-bottom: 15px;
}

.form-login input[type="text"]:focus,
.form-login input[type="password"]:focus {
	padding: 14px;
	border: 2px solid #2980b9;
}

.form-login button {
	display: inline-block;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	background: #16a085;
	font-family: 'Raleway', cursive;
	font-size: 16px;
	color: #ecf0f1;
}

.alert-danger {
	background: #e74c3c;
	font-family: 'Raleway', cursive;
	padding: 10px;
	font-size: 12px;
	color: rgba(255,255,255,.57);
	border-radius: 5px;
	margin-bottom: 10px;
}